# Tugas 2 (GetData Server And Create PipeLines)

untuk menjalankan code dibawah, diperlukan server database. implementasi saya menggunakan virtual server database local yang terconnect ke **ngrok**. untuk dapat mengakses host dibutuhkan sever yang harus berjalan terus.

untuk mengatasi hal tersebut saya ambil data dari csv github yang sebelumnya sudah saya dapatkan dari pengambilan dari server postgre, elephantpg, mysql, dan sqlserver.

## Get Data Server

In [3]:
!pip install pyodbc --quiet
!pip install mysql-connector-python --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 343.5/343.5 kB 7.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 54.6 MB/s eta 0:00:00

In [4]:
import pyodbc
import pandas as pd
import psycopg2
import mysql.connector
import numpy as np

In [5]:
df_iris=pd.read_csv("https://raw.githubusercontent.com/HamedAyani114/dataset/main/csv/Iris.csv")

### PostgreSQL Local (SepalLength)

In [ ]:
# conn = psycopg2.connect(
#     database="prosain200411100114",
#     user="postgres",
#     password="admin",
#     host="0.tcp.ap.ngrok.io",
#     port="19504"
# )

# cur = conn.cursor()

# cur.execute("SELECT sepallength FROM public.iris ORDER BY id")

# sl = cur.fetchall()

# sl=pd.DataFrame(sl,columns=['SepalLength'])
# sl.head()

   SepalLength
0          5.1
1          4.9
2          4.7
3          4.6
4          5.0

### PostgreSQL Elephant (SepalWidth)

In [ ]:
# conn = psycopg2.connect(
#     database="mdihcbmr",
#     user="mdihcbmr",
#     password="P3LmyjuPn0faQQ_nRoTV0EBrhxu4jn1D",
#     host="floppy.db.elephantsql.com",
#     port="5432"
# )

# cur = conn.cursor()

# cur.execute("SELECT sepalwidth FROM iris ORDER BY id")

# sw = cur.fetchall()

# sw=pd.DataFrame(sw,columns=['SepalWidth'])
# sw.head()

   SepalWidth
0         3.5
1         3.0
2         3.2
3         3.1
4         3.6

### MYSQL Local (PetalLength)

In [ ]:
# conn = mysql.connector.connect(
#     host="0.tcp.ap.ngrok.io",
#     port="17392",
#     user="root",
#     password="",
#     database="prosain200411100114"
# )

# mycursor = conn.cursor()

# mycursor.execute("SELECT PetalLength FROM iris ORDER BY id;")

# myresult = mycursor.fetchall()

# # plot the data to data frame
# pl = pd.DataFrame(myresult, columns=['PetalLength',])
# pl.head()

   PetalLength
0          1.4
1          1.4
2          1.3
3          1.5
4          1.4

### SQL Server (Petal Width, Class)

In [ ]:
# server = 'IRHAMHAMEDAYANI\SQLEXPRESS' 
# database = 'prosaindata' 
# username = 'sa' 
# password = 'admin'  

# cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
# cursor = cnxn.cursor()

# querypw = "SELECT PetalWidth FROM iris ORDER BY id"
# querycl = "SELECT Class FROM iris ORDER BY id"

# cursor.execute(querypw)
# pw = cursor.fetchall()
# cursor.execute(querycl)
# cl = cursor.fetchall()

# np_pw = np.array(pw)
# np_cl = np.array(cl)

# np_pwcls = np.concatenate((np_pw, cl), axis=1)

# pwcls = pd.DataFrame(np_pwcls, columns=['PetalWidth', 'Class'])
# pwcls.head()

  PetalWidth        Class
0        0.2  Iris-setosa
1        0.2  Iris-setosa
2        0.2  Iris-setosa
3        0.2  Iris-setosa
4        0.2  Iris-setosa

### Concat Data

In [ ]:
# # gabung semua data frame
# df = pd.concat([sl, sw, pl, pwcls], axis=1)

In [7]:
# # gabung semua data frame
# df = pd.concat([sl, sw, pl,df_iris["PetalWidthCm"], df_iris["Species"]], axis=1)

sl = df_iris["SepalLengthCm"]
sw = df_iris["SepalWidthCm"]
pl = df_iris["PetalLengthCm"]
pw = df_iris["PetalWidthCm"]
spec = df_iris["Species"]

df = pd.concat([sl, sw, pl,pw, spec], axis=1)

In [8]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
# convert to csv
pl.to_csv('pl_iris.csv', index=False)
sl.to_csv('sl_iris.csv', index=False)
sw.to_csv('sw_iris.csv', index=False)
pw.to_csv('pw_iris.csv', index=False)
spec.to_csv('cls_iris.csv', index=False)

In [10]:
pl=pd.read_csv('pl_iris.csv')
sl=pd.read_csv('sl_iris.csv')
sw=pd.read_csv('sw_iris.csv')
pw=pd.read_csv('pw_iris.csv')
cls=pd.read_csv('cls_iris.csv')

df = pd.concat([sl, sw, pl, pw, cls], axis=1)

In [11]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

## Pipeline

### Ambil data

1. install database (MySql, Sql Server, Postgre, Postgre elephant)
2. masukkan data iris ke tiap database, dengan tambahan id untuk identitas
3. ambil data dari database:
*   PostgreSql Local(SepalLength)
*   PostgreSql Elephant(SepalWidth)
*   MySql Local (PetalLength)
*   Sql Server(PetalWidth, Class)
4. pengambilan data menggunakan library psycopg2, mysql.connector, pyodbc
5. tiap server mengambil kolom sesuai rule
6. kolom yang diambil dari tiap server di convert ke csv dengan modul pandas

### Pipeline

1. Masuk ke https://www.orchest.io/ , Login dan buat project baru
2. upload file csv yang didapat ke folder dataset pipeline
3. buat new step untuk GetData, Splitting Data, Modelling dan Hasil
4. Code GetData untuk mengambil data tiap kolom dan di gabung menjadi satu
5. SplitData untuk mambagi data dari GetData menjadi X_train, X_test, y_train, y_test
6. Data train dan tes dikirim ke step modelling untuk diolah dan mendapatkan hasil akurasi
7. Hasil akurasi terdapat pada step hasil